# TODO TEMPORARY THING:
#/composer.lock
/beard.lock
/AutoExport
/Packages/Sites/Sfi.Sfi/Resources/Public/Built/app.css

.fuse_hidden
.sass-cache
bower_components
node_modules
*.DS_Store
stylesheets

/Web/_Resources/
/Web/index.php
/Configuration/*
Configuration/Production/IncludeCachedConfigurations.php
Configuration/Production/Settings.yaml.example
Configuration/Production/Settings.yaml
Configuration/Development/IncludeCachedConfigurations.php
Configuration/Development/Settings.yaml.example
Configuration/Development/Settings.yaml
!/Configuration/Development/
!/Configuration/Production/
/Build/Behat/*
/Build/BuildEssentials
/Build/Reports
/Build/Resources
/Data/
/Packages/Application/
/Packages/Framework/
/Packages/Libraries/
/Packages/Plugins/
/bin/
/Readme.txt
/Upgrading.txt
/flow
/flow.bat
/Readme.rst
/Upgrading.rst
