version: "3.1"
services:
  redis:
    image: redis:3.2
  db:
    image: mariadb:10.3
    volumes:
      - db-data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: pass
      MYSQL_DATABASE: db
      MYSQL_USER: admin
      MYSQL_PASSWORD: pass
  web:
    image: dimaip/sfidistr:latest
    hostname: 'sfiru'
    networks:
      - default
      - main
    secrets:
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
    deploy:
      labels:
        - "traefik.enable=true"
        - "traefik.port=80"
        - "traefik.default.protocol=http"
        - "traefik.docker.network=main"
        - "traefik.frontend.rule=Host:sfi.ru,www.sfi.ru,dev.sfi.ru"
    ports:
      - '80'
    depends_on:
      - db
      - redis
volumes:
  db-data:
secrets:
  AWS_ACCESS_KEY_ID:
    external: true
  AWS_SECRET_ACCESS_KEY:
    external: true
networks:
  main:
    external:
      name: main

