.Article-Date {
	text-transform: lowercase;
}

.Article-Date, .Article-Place, .Article-CommentCount {
	@extend .ServiceEm;
	margin-bottom: 0;
}

.Article-CommentCount {
	color: $color-primaryAlt;
}

.Article-AuthorLabel {
	@extend .ServiceEm;
	padding-right: $u/2;
}
.Article-AuthorName {
	@extend .Service--Small;
	margin-right: 2*$u;
}
.Article-CoverPhoto .Figure {
	margin-top: 0;
	margin-bottom: 0;
}


.Article--Soft {
	.Article-Title {
		@extend .H1;
		text-align: center;
		margin-top: 0;
		margin-bottom: 0;
	}
	.Article-Teaser {
		@extend .ServiceLight--Large;
		text-align: center;
	}
	.Article-Lead {
		@extend .Paragraph--Large;
	}
}

.Article--Hard {
	.Article-Title {
		@extend .H2;
		margin-top: 0;
		margin-bottom: 0;
	}
	.Article-Teaser {
		@extend .ServiceLight;
	}
	.Article-Lead {
		@extend .Paragraph;
	}
}















// TODO: refactor this
.NewsDetail {
	margin-top: 3*$u !important;
	@include breakpoint('medium') {
		margin-top: 6*$u !important;
	}
}



@include breakpoint(medium only) {
	.NewsDetail-MoreItems {
		.MediaSmall-Image {
			display: none;
		}
		.MediaSmall-Body {
			margin-left: 0;
		}
	}
}


@include breakpoint(780px) {
	.NewsDetail-Article--Hard {
		@include grid-content(7);
	}
	.NewsDetail-MoreItems {
		@include grid-content(4, 1);
	}
}
