.Footer {
	padding: $u 0;
	background: $gray--dark;
	color: white;
}

.Footer-Paragraph {
	@extend .ParagraphAlt--Small;
	margin: 0;
	line-height: $lineHeight-loose;
	color: white;
}

.Footer-Copyright {
	margin-top: $u;
	color: white;
}
