.Header {
	margin-bottom: 4*$u;
	@include breakpoint('medium') {
		margin-bottom: 6*$u;
	}
	@include breakpoint('large') {
		margin-bottom: 8*$u;
	}
}
#page-sfi .Header{
	margin-bottom: 0;
}

.Header-Wrap{
	position: relative;
	overflow: auto;
}

.Header-Menu{
	position: absolute;
	right: 0;
	top: 0;
}

.Header-Bar{
	border-top: 1px;
	border-bottom: 1px;
	border-right: 0;
	border-left: 0;
	border-color: $gray-line;
	border-style: solid;
	background: $gray-bg--light;
}

.Header-TopBar {
	border-bottom: $border-thin;
}
