// TODO: Main page offset, move away from here
.NewsLatest {
	background: white;
}

.NewsLatest-Grid[data-columns]::before, .NewsList-Grid[data-columns]::before {
	@include breakpoint('medium') {
		content: '2 .grid-content.medium-6';
	}
	@include breakpoint('large') {
		content: '3 .grid-content.large-4';
	}
}

.NewsLatest-Grid {
	margin: 0 !important;
	padding: 2*$u $u !important;
	background: $gray-bg--light;
}

.NewsList-Grid {
	margin: 2*$u 0;
	overflow: auto;
}

.News-MoreButton {
	padding: $u/2 $u;
	background: white;
}