// TODO: Main page offset, move away from here
.NewsLatest {
	margin-top: -49px;
	background: white;
}

.NewsLatest-Grid[data-columns]::before {
	content: '3 .columns.medium-4';
}

.NewsList-Grid[data-columns]::before {
	content: '3 .columns.medium-4';
}

.NewsLatest-Grid {
	margin: 0 !important;
	padding: 2*$u $u !important;
	background: $gray-bg--light;
}

.NewsList-Grid {
	margin: 2*$u 0;
	overflow: auto;
}

.News-MoreButton {
	padding: $u/2 $u;
	background: white;
}