.PresentationLayout-PageTitle {
	@extend .H1;
	margin-top: 2*$u;
	text-align: center;
}

.PresentationLayout-Lead {
	@extend .Paragraph--Large;
}

.PresentationLayout-Content {
	border-right: $border-thin;
}