.PresentationLayout-Wrap {
	margin-top: 2*$u;
	@include breakpoint('medium') {
		margin-top: 3*$u;
	}
	@include breakpoint('large') {
		margin-top: 4*$u;
	}
}

.PresentationLayout-Content {
	overflow: hidden;
}

.PresentationLayout-PageTitle {
	@extend .H1;
	margin-top: 0;
	line-height: $lineHeight-single;
}

.PresentationLayout-Lead {
	@extend .Paragraph--Large;
}
