
.FundraisingProjectSmall {
    flex-grow: 1;
    flex-basis: 0;
}
.FundraisingProjectSmall-inner {
    position: relative;
    margin-bottom: 2 * $u;
    border: 1px solid $orange;
    height: 100%;
}

.FundraisingProjectSmall:hover .H2, .FundraisingProjectSmall:hover .FundraisingProjectSmall-arrow {
    color: $orange !important;
}

@media (min-width: 640px) {
    .FundraisingProjectSmall-title {
        font-size: rem-calc(18);
    }
}
@media (min-width: 800px) {
    .FundraisingProjectSmall-title {
        font-size: rem-calc(22);
    }
}
@media (min-width: 1024px) {
    .FundraisingProjectSmall-title {
        font-size: rem-calc(36);
    }
}

.FundraisingProjectSmall-body {
    padding: 24px;
}
.FundraisingProjectSmall-arrow {
    font-size: rem-calc(48);
}

.FundraisingProjectsListing {
    flex-direction: column;
    flex-wrap: wrap;
}
@media (min-width: 640px) {
    .FundraisingProjectsListing {
        flex-direction: row;
    }
    .FundraisingProjectSmall {
        flex-basis: 50%;
    }
    .FundraisingProjectSmall-inner {
        padding-bottom: 120px;
    }
    .FundraisingProjectSmall-bottom {
        position: absolute;
        bottom: 12px;
        left: 24px;
        right: 24px;
    }
}
@media (min-width: 800px) {
    .FundraisingProjectSmall {
        flex-basis: 33%;
    }
}

.digits {
    font-size: rem-calc(14);
    font-style: normal;
}
