
.desktop {
    .FundraisingProjectSmall-inner1 {
        padding-top: 150%;
    }
    @media(min-width: 400px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 130%;
        }
    }
    @media(min-width: 450px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 115%;
        }
    }
    @media(min-width: 560px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 105%;
        }
    }
    @media(min-width: 640px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 182%;
        }
    }
    @media(min-width: 722px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 166%;
        }
    }
    @media(min-width: 800px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 145%;
        }
    }
    @media(min-width: 900px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 135%;
        }
    }
    @media(min-width: 1024px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 174%;
        }
    }
    @media(min-width: 1120px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 160%;
        }
    }
    @media(min-width: 1200px) {
        .FundraisingProjectSmall-inner1 {
            padding-top: 150%;
        }
    }
    .FundraisingProjectSmall-inner2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}
.FundraisingProjectSmall {
    border: 1px solid $gray-line;
    position: relative;
    margin-bottom: 2 * $u;
    flex-grow: 1;
    flex-basis: 0;
}
.FundraisingProjectSmall:hover {
    border: 1px solid $orange;
}
.FundraisingProjectSmall:hover .H2, .FundraisingProjectSmall:hover .FundraisingProjectSmall-arrow {
    color: $orange !important;
}

.FundraisingProjectSmall-body {
    padding: 24px;
}
.FundraisingProjectSmall-arrow {
    font-size: 48px;
}

.FundraisingProjectsListing {
    flex-direction: column;
}
@media(min-width: 640px) {
    .FundraisingProjectsListing {
        flex-direction: row;
    }
    .FundraisingProjectSmall {
        padding-bottom: 120px;
    }
    .FundraisingProjectSmall-bottom {
        position: absolute;
        bottom: 12px;
        left: 24px;
        right: 24px;
    }
}

.digits {
    font-size: 14px;
    font-style: normal;
}
