.IconMenu {
	padding-left: 9px;
	padding-top: 5px;

	&:hover {
		opacity: 0.7;
	}
}
.isActive .IconMenu img {
	transform: rotate(90deg);
}

@include breakpoint('370px'){
	.IconMenu{
		padding-left: 0;
	}
}

.IconMenu img{
	transition: $transition;
	width: 28px;
	height: 28px;
}