.IconMenu{
	fill: $color-primary;

	padding-left: 9px;
	padding-top: 5px;

	&:hover{
		opacity: 0.7;
	}
}

@include breakpoint('370px'){
	.IconMenu{
		padding-left: 0;
	}
}

.IconMenu svg{
	transition: $transition;
	width: 28px;
	height: 28px;
}