.Button {
	@extend .Service--Small;
	display: inline-block;
	transition: $transition;
	background: $color-primary;
	color: white;
	margin: 0;
	margin-right: $u;
	padding: $u;
	border-radius: 5px;
	cursor: pointer;
	&:hover{
		opacity: 0.7;
	}
}

.ButtonInline {
	@extend .Link;
	@extend .ParagraphAlt;
	display: block;
	transition: $transition;
	&:after {
		content: "›";
		display: inline-block;
		position: relative;
		left: $u/4;
	}
}

// TODO: refactor this shit
.Button.English {
	@extend .Service;
	margin: 6px 0 !important;
	color: $color-primary;
	background: initial;
	padding: $u/2;
	cursor: pointer;
}
