.Table {
	@include table;
	font-family: $fontFamily-alt;
	font-size: rem-calc(14);
	h2, h3, h4 {
		margin: 0 !important;
	}
	overflow: auto;
	display: block;
	max-height: 90vh;
}

.Table * {
	font-size: rem-calc(14) !important;
}
