$border-thin: 1px solid $gray-line;
$border-thin--dark: 1px solid $gray-bg;
$border-dotted: 1px dotted $gray-line;
$border-thick: 5px solid $gray-line;

.border-round {
	border-radius: 50%;
}

.border-thick {
	border: $border-thick;
}
