@font-face{
font-family:"Franklin";
src:url("/_Resources/Static/Packages/Sfi.Sfi/font/FranklinGothic-Book.woff") format("woff");
font-weight:400;font-style:normal;
}
@font-face{
font-family:"Franklin";
src:url("/_Resources/Static/Packages/Sfi.Sfi/font/FranklinGothic-Demi.woff") format("woff");
font-weight:700;font-style:normal;
}

@font-face{
font-family:"FranklinCond";
src:url("/_Resources/Static/Packages/Sfi.Sfi/font/FranklinGothic-DemiCond.woff") format("woff");
font-weight:400;font-style:bold;
}


@font-face {
	font-family: 'SchoolBook';
	src: url('/_Resources/Static/Packages/Sfi.Sfi/font/SchoolBook-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SchoolBook';
	src: url('/_Resources/Static/Packages/Sfi.Sfi/font/SchoolBook-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'SchoolBook';
	src: url('/_Resources/Static/Packages/Sfi.Sfi/font/SchoolBook-Italic.woff') format('woff');
	font-weight: normal;
	font-style: italic;
}


// Icon font declaraions are in different place

$fontFamily-main: SchoolBook,Georgia,serif;
$fontFamily-alt: Franklin,sans-serif;

:root {
	--fontFamily-main: #{$fontFamily-main};
	--fontFamily-alt: #{$fontFamily-alt};
}
