*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}
a {
  color: inherit;
  text-decoration: inherit;
}
p,h1,h2,h3,h4,h5,h6 {
	font-size: inherit;
	font-weight: inherit;
	margin: 0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

// Responsive images
img {
	border: 0;
	max-width:100%;
	height:auto;
	display: inline-block;
	vertical-align: middle;
}
button {
	border: none;
	background: none;
}
