html {
	font-size: 22px;
}

a {
	text-decoration: underline !important;
}

*, .color-primary, .Article-Lead a, .ButtonInline, .InlineLink, .Link, .PaleLink, .RteText a, .RteTextLinkable a {
	color: black !important;
}
