@import "reset";
@import "Vendor/**/*.scss";
@import "Quarks/**/*.scss";
@import "Atoms/**/*.scss";
@import "Molecules/**/*.scss";
@import "Organisms/**/*.scss";
@import "./../../Resources/Private/Fusion/**/*.scss";
@import "vendorOverride";

* {
	box-sizing: border-box;
}

body {
	font-size: rem-calc(16);
	font-family: $fontFamily-main;
	color: $gray--dark;
}
