@import "../bower_components/slick.js/slick/slick.css";

@import "reset";
@import
	"Vendor/**/*.scss",
	"Quarks/**/*.scss",
	"Atoms/**/*.scss",
	"Molecules/**/*.scss",
	"Organisms/**/*.scss";
@import "vendorOverride";

* {
	box-sizing: border-box;
}
