.Media {
	border: $border-thin;
	padding: 2*$u;
	margin-bottom: 30px;
	transition: $transition;
	&:hover {
		background: white;
	}
}
.Media-Title{
	@extend .Paragraph--Large;
	line-height: $lineHeight-tight;
	margin-bottom: $u/2;
}
.Media-Teaser{
	@extend .ParagraphAlt;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.Media-Date{
	@extend .ServiceEm;
	text-transform: lowercase;
	color: $gray--light;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.Media-Category{
	display: none;
}
.Media-Image img{
	width: 100%;
}
