.MediaSlideMedium {
	margin-top: 0 !important;
	position: relative;
	@include breakpoint('medium') {
		&:after {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			content: '';
			background: linear-gradient(to top, rgba(0,0,0,0.35) 0%,rgba(0,0,0,0) 70%);;
		}
	}
}
.MediaSlideMedium-Wrap {
	@include breakpoint('medium') {
		position: absolute;
		left: 50%;
		bottom: 20%;
		max-width: 960px;
		padding: 0 !important;
		z-index: 1;
	}
	&:hover {
		.MediaSlideMedium-Title {
			text-decoration: underline !important;
		}
	}
}
.MediaSlideMedium-Title {
	@extend .H1;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
}
.MediaSlideMedium-Teaser {
	@extend .Paragraph--Large;
	color: white;
	text-shadow: 0px 2px 2px rgba(0,0,0,0.75);
	margin-top: $u/2;
}
.MediaSlideMedium-Body {
	position: relative;
	text-align: center;
	left: -50%;
	margin: 1.5*$u 2*$u;
}



.MediaSlideSmall {
	transition: $transition;
	&:hover {
		.MediaSlideSmall-Body {
			background-color: darken($color-sfi, 5%);
		}
	}
}
.MediaSlideSmall-Body {
	transition: $transition;
	padding: $u 2*$u 2*$u 2*$u;
	background-color: $color-sfi;
}
.MediaSlideSmall-Title {
	@extend .Paragraph--Large;
	color: white;
	line-height: $lineHeight-tight;
	margin-top: $u;
}
.MediaSlideSmall-Teaser {
	@extend .ParagraphAlt;
	color: white;
	margin-bottom: $u/2;
}
.MediaSlideSmall-Date {
	@extend .ServiceEm;
	text-transform: lowercase;
	color: white;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.MediaSlideSmall-Category {
	display: none;
}
.MediaSlideSmall-Image img {
	width: 100%;
}
