.MediaSmall {
	margin-bottom: 2*$u;
}

.MediaSmall-Title {
	@extend .H5;
	line-height: $lineHeight-normal;
}
.MediaSmall-Teaser {
	@extend .ParagraphAlt;
}
.MediaSmall-Date {
	@extend .ParagraphAlt;
	color: $gray--light;
}

.MediaSmall:hover .MediaSmall-Title {
	color: $color-primary;
	text-decoration: underline;
}
