.MediaPromo {
	text-align: center;
	padding: 2*$u;
	border: $border-thin;
	background: $gray-bg--light;
	transition: $transition;
	&:hover {
		background: white;
		.MediaPromo-Title {
			color: $color-primary;
			text-decoration: underline;
		}
	}
}

.MediaPromo-Title{
	@extend .ServiceLight--Small;
	color: $color-primaryAlt;
}
.MediaPromo-Teaser{
	@extend .ParagraphAlt--Small;
	color: $gray--light;
}
