.MediaAnnouncement {
	clear: both;
	overflow: auto;
	margin-bottom: 2*$u;
}
.MediaAnnouncement:hover .MediaAnnouncement-Title {
	color: $color-primary;
	text-decoration: underline;
}
.MediaAnnouncement-WrapText {
	margin-left: 65px + 1.5*$u;
	@include breakpoint('medium') {
		margin-left: 65px + 3*$u;
	}
	@include breakpoint('large') {
		margin-left: 65px + 4*$u;
	}
}
.MediaAnnouncement-Date {
	margin-top: $u;
	text-align: center;
	float: left;
	clear: both;
}
.MediaAnnouncement-DateDay {
	@extend .H3;
	font-size: rem-calc(30);
	color: $color-primary;
	margin: 0;
}
.MediaAnnouncement-DateMonth {
	@extend .H3;
	font-size: rem-calc(30);
	color: $color-primary;
	font-weight: normal;
	margin: 0;
}
.MediaAnnouncement-DateTime {
	@extend .H4;
	color: $color-primary;
	font-weight: normal;
	margin: 0;
}
.MediaAnnouncement-DateDash {
	@extend .H3;
	color: $color-primary;
	line-height: 0.3;
	margin: 0;
}
.MediaAnnouncement-Title {
	@extend .H3;
}
.MediaAnnouncement-Teaser {
	@extend .ParagraphAlt;
	margin-bottom: 0;
}
.MediaAnnouncement-Place {
	@extend .ParagraphAlt;
	color: $gray--light;
	margin-top: 0;
}