.MediaSmall {
	margin-bottom: 2*$u;
	overflow: auto;
}

.MediaSmall-Title{
	@extend .H4;
	margin-top: 0;
	margin-bottom: $u/2;
}
.MediaSmall-Teaser{
	@extend .Paragraph--Small;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.MediaSmall-Date{
	@extend .Paragraph--Small;
	text-transform: lowercase;
	color: $gray--light;
	margin-top: $u/2;
	margin-bottom: $u/2;
}
.MediaSmall-Category{
	@extend .H5;
	display: none;
}
.MediaSmall-Image {
	float: left;
	margin-right: 30px;
	img{
		width: 90px;
	}
}

.MediaSmall-Body {
	overflow: hidden;
}
