.BreadcrumbMenu{
	clear: both;
	li{
		@extend .ParagraphAlt--Small;
		float: left;
		margin: $u/2 $u $u/2 0;
		@include link-state();
		@include breakpoint('large') {
			margin: $u $u $u 0;
		}
	}
	li:last-child:after{
		content: '';
	}
	li:after{
		content: ' »';
	}
}
