// Adjust gaps for blockgrid in menus

.MainMenu-Item {
	padding: 12px 0 6px 0;
}

.MainMenu-SubItem {
	padding-bottom: 6px;
}

@include breakpoint('large') {
	.MainMenu {
		display: flex;
	}
	.MainMenu-Column {
		position: relative;
		border: 1px solid white;
	}
	.MainMenu-SubItems {
		position: absolute;
		left: -1px;
		right: -1px;
		z-index: 1;
		padding: $u 1.5*$u;

		display: none;
	}
	.MainMenu-Item {
		padding: 8px 12px;
	}
	.MainMenu-SubItem {
		padding: 8px 12px;
	}
	.MainMenu-Column:hover {
		border: 1px solid $gray-line;
		border-bottom: 1px;
		position: relative;
		.MainMenu-SubItems {
			min-width: 240px;
			display: block;
			background: white;
			border: 1px solid $gray-line;
		}
		.MainMenu-Item {
			bottom: -1px;
			position: relative;
			background: white;
			z-index: 2;
		}
		.MainMenu-ItemInner {
			position: relative;
			top: -1px;
		}
	}

	.js-MainMenu.isActive {
		.MainMenu-Column {
			width: 25%;
		}
	}
}
