// Adjust gaps for blockgrid in menus

@include breakpoint('medium') {
	.MainMenu {
		margin-top: $u;
		display: flex;
		justify-content: center;
		border-bottom: 1px solid $gray-line;
	}

	.MainMenu-Column {
		position: relative;
		border: 1px solid white;
	}
	.MainMenu-SubItems {
		position: absolute;
		left: -1px;
		right: -1px;
		z-index: 1;
		padding: $u 1.5*$u;

		display: none;
	}
	.MainMenu-Column:hover {
		border: 1px solid $gray-line;
		border-bottom: 1px;
		.MainMenu-SubItems {
			display: block;
			background: white;
			border: 1px solid $gray-line;
			border-top: 0;
		}
	}

	.MainMenu-Column {
		padding-right: 1.5*$u;
		@include breakpoint('large') {
			padding: 0 1.5*$u;
		}
	}
	.MainMenu-Item {
		font-size: rem-calc(32);
	}
	.MainMenu-Item, .MainMenu-SubItem {
		@include link-state();
		a {display: inline-block;}
	}

	.js-MainMenu.isActive {
		.MainMenu-Column {
			width: 25%;
		}
	}
}
