// Adjust gaps for blockgrid in menus

@include breakpoint('medium') {
	.MainMenu-Toggle{
		display: none;
	}
	.js-MainMenu.isActive .MainMenu-Toggle{
		display: block;
	}
	.MainMenu-Column{
		float: left;
		padding-right: 1.5*$u;
		@include breakpoint('large') {
			padding-right: 3*$u;
		}
	}
	.MainMenu-Item, .MainMenu-SubItem {
		@include link-state();
		a {display: inline-block;}
	}
	.MainMenu-Wrap{
		overflow: hidden;
		margin-left: 50px;
	}

	.js-MainMenu.isActive {
		.MainMenu-Column{
			width: 25%;
		}
	}
}
