// Adjust gaps for blockgrid in menus

.MainMenu.isActive .IconMenu svg {
	transform: rotate(90deg);
}

.MainMenu-FollowLinks{
	margin: 5px 0;
}


.MainMenu-Bar{
	border-top: 1px;
	border-bottom: 1px;
	border-right: 0;
	border-left: 0;
	border-color: $gray-line;
	border-style: solid;
	background: $gray-bg--light;
	border-bottom: $border-thick;
}

.MainMenu-Presentation{
	display: block;
	@extend .Service;
	text-align: center;
	line-height: $lineHeight-single;
	padding: $u 0;
	// Prevents margin collapse on medium-up
	margin: 0;
	transition: $transition;
	&:hover{
		opacity: 0.7;
	}
}

.MainMenu-Toggle{
	position: absolute;
	top: 18px;
	right: 18px;
	cursor: pointer;
	// Stay on top of menu to render clicks
	z-index: 110;
	display: inline-block;
	.IconMenu{
		display: inline-block;
	}
}

.Page--Main .MainMenu-Toggle{
	display: none;
}
@media #{$medium-up}{
	.Page--Main .MainMenu-Toggle{
		display: block;
	}
}


.MainMenu-Level2Item{
	@extend .ParagraphAlt--Small;
	display: block;
}








.MainMenu-Hidden,.MainMenu-HiddenOnSmall,.MainMenu-AlwaysHiddenOnSmall{
	display: none;
}
.js-MainMenu.isActive,.Page--Main{
	.MainMenu-Hidden, .MainMenu-HiddenOnSmall{
		display: block;
	}
}

@media #{$medium-up}{
	.MainMenu-Column{
		float: left;
		padding-right: 1.5*$u;
	}
	.MainMenu-Presentation{
		text-align: left;
	}
	.MainMenu-Wrap{
		margin-right: -18px;
		overflow: hidden;
	}

	.MainMenu-TopLeft{
		float: left;
	}
	.MainMenu-TopRight{
		float: right;
		width: 33%;
	}

	.js-MainMenu.isActive {
		.MainMenu-Column{
			width: 25%;
		}
		.MainMenu-SectionsWrap,.MainMenu-AlwaysHiddenOnSmall{
			display: block !important;
		}
	}
	.MainMenu-HiddenOnSmall{
		display: block;
	}
	.MainMenu-Wrap{
		margin-left: 50px;
	}

	.MainMenu-Toggle{
		float: left;
		position: initial;
	}
}

@media #{$large-up}{
	.MainMenu-Column{
		float: left;
		padding-right: 3*$u;
	}
}