.SecondaryMenu-Item {
	line-height: 1;
	@include breakpoint(medium only) {
		float: left;
		margin-right: $u;
		@include breakpoint(700px down) {
			margin-top: $u + 1px;
			font-size: rem-calc(12);
		}
	}
}