.SubMenu-item {
	@extend .ParagraphAlt;
	line-height: $lineHeight-tight !important;
	font-size: rem-calc(13);
	@include breakpoint(710px) {
		font-size: rem-calc(14);
	}
	@include breakpoint('large') {
		font-size: rem-calc(18);
	}
}
