.SubSectionMenu {
	margin: $u 0;
	@include breakpoint('medium') {
		column-count: 2;
	}
}
.SubSectionMenu-Item {
	@extend .ParagraphAlt;
	margin-top: 0;
	margin-bottom: $u/2;
	@include link-state();
}
