.Sections {
    margin: $spacingBetweenContentBlocks 0;
}

.Sections-Tabs {
    overflow: auto;
    margin-top: 2*$u;
    padding: 0;
}

.Sections-Tab {
    float: left;
    margin: 0;
    list-style: none;
}


.Sections-Tabs {
    display: none;
}


/* Accordion responsive breakpoint */
@include breakpoint('medium') {
    .Sections-Tabs {
        display: block;
    }

    .Sections-AccordionTitle {
        display: none !important;
    }
}

.Sections--Accordion {
    .Sections-Tabs {
        display: none !important;
    }

    .Sections-AccordionTitle {
        display: block !important;
    }

    .Sections-Panel {
        transition: all 0.4s ease-in;
        max-height: 0;
        overflow: hidden;
    }

    .Sections-Panel.isActive {
        border-bottom: 1px solid #ccc;
        max-height: 10000px;
    }
}





.Sections-Anchor {
    @extend .ParagraphAlt--Large;
    display: block;
    color: $color-primaryAlt;
    padding: $u 0;
    margin: 0;
    & > div {
        display: inline;
    }
}
.Sections-Tabs .Sections-Anchor {
    border-bottom: 0;
    border-right-width: 0;
}
.Sections-Tabs .Sections-Tab:last-child .Sections-Anchor {
    border-right-width: 1px;
}
.Sections-AccordionTitle {
    @extend .H4;
    @extend .icon-right-open;
    &:before {
        @include icon();
        color: $color-primaryAlt;
        display: block;
        float: left;
        margin-top: 7px;
        font-size: 12px;
        transition: all 0.2s ease-in-out;
    }
    &.isActive:before {
        transform: rotate(90deg);
    }
}



.Sections--Tabs {
    .Sections-Anchor {
        padding: $u;
    }
    .Sections-Anchor.isActive {
        background-color: $color-primary;
        color: white;
    }
    .Sections-Panel {
        padding: 3*$u 2*$u;
        border: $border-thin--dark;
        display: none;
    }
    .Sections-Panel.isActive {
        display: block;
        border: $border-thin--dark;
        padding: $u 2*$u;
    }
}





.Sections--Pills{
    .Sections-Anchor {
        @extend .Service;
        &:after{
            content: ' »';
            color: $color-primary;
        }
    }
    .Sections-Anchor.isActive, .Sections-Anchor:hover{
        color: $color-primary;
    }
    .Sections-Tabs{
        margin-bottom: 3*$u;
    }
    .Sections-Tab{
        padding: 0;
        padding-right: 2*$u; 
    }
}








.SectionWithImageTabAnchor{
    padding-right: $u;
    padding-bottom: $u;
}

.SectionWithImageTabAnchor-Image{
    opacity: 0.8;
}
.SectionWithImageTabAnchor-Image:hover,.Sections-Anchor.isActive .SectionWithImageTabAnchor-Image{
    opacity: 1;
}

.Sections-Anchor.isActive .SectionWithImageTabAnchor-Image{
    position: relative;
}
.Sections-Anchor.isActive .SectionWithImageTabAnchor-Image:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 10px solid;
}

.SectionWithImageAccordionAnchor{
    margin-bottom: $u;
}
.SectionWithImageAccordionAnchor-Title{
    @extend .H6;
    margin: 0 !important;
    border-top: $border-thin;
    padding-top: $u;
}
.SectionWithImageAccordionAnchor-SubTitle{
    @extend .ParagraphAlt--Small;
    margin-top: $u/2;
}


@include breakpoint(small only) {
    .SectionWithImagePanel .TextWithImage-Headline{
        display: none;
    }
}



.SectionWithImageTabAnchor-Title{
    @extend .Service;
}


@include breakpoint('medium') {
    .SectionWithImageTabAnchor--Variant1{
        width: 120px !important;
    }
    .SectionWithImageTabAnchor--Variant2{
        width: 120px !important;
    }
}
@include breakpoint('large') {
    .SectionWithImageTabAnchor--Variant1{
        width: 120px !important;
    }
    .SectionWithImageTabAnchor--Variant2{
        width: 190px !important;
    }
}