@media #{$medium-up} {
	.Cover {
		height: calc(66vw);
		max-height: calc(100vh - 205px);
		min-height: 400px;
		background-size: cover;
		background-position-y: 40%;
	}

	.Carousel--Cover {
		height: calc(66vw);
		max-height: calc(100vh - 205px);
		min-height: 400px;
		margin-bottom: 0;
	}
}
