.Cover {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 43%;
	min-height: 27rem;
	.row,.columns {
		height: 100%;
	}
}
.Cover-Inner {
	position: absolute;
	width: 100%;
	height: 100%;
	min-height: 27rem;
	left: 0;
	top: 0;
	background-size: cover;
	background-position-y: 40%;
}