.FooterGallery{
	position: relative;
	margin: 0 !important;
	max-width: initial !important;
}
.FooterGallery .Figure{
	position: relative;
	display: block;
	margin: 0;
	img{
		width: 100%;
	}
	figcaption{
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		opacity: 0.8;
		text-align: center;
		color: white;
		background-color: $color-primary;
		transition: $transition;
	}
}
.FooterGallery .Figure:hover figcaption{
	display: block;
}
.FooterGallery-Item{
	padding: 0 !important;
}

.FooterGallery-loadMore {
	position: absolute;
	bottom: 0;
	left: 50%;
  transform: translateX(-50%);
	padding: $u/2 $u;
	cursor: pointer;
	&:hover {
		opacity: 1;
		text-decoration: underline;
	}
	&:focus {
		outline: none;
	}
	&:disabled {
		background-color: $gray--light;
		opacity: 1;
		cursor: default;
		text-decoration: none;
	}
}
