.SearchBox {
  margin: $u/2 0;
  overflow: hidden;
}


.SearchBox-Field {
  @extend .ParagraphAlt;
  border: $border-thin;
  color: $gray--light;
  padding-left: 6px;
  margin: 0;
  width: 100%;
}


.SearchBox-Submit {
  position: relative;
  input {
    color: transparent;
    background-color: transparent;
    border: none;
    width: 2*$u;
    height: 2*$u;
    padding: 0;
    cursor: pointer;
    z-index: 1;
    position: relative;
  }

  &:after {
    color: $gray--light;
    position: absolute;
    left: 4px;
    top: $u/2;
    font-family: "sfi-icons";
    font-size: rem-calc(13px);
    font-style: normal;
    font-weight: normal;
    speak: none;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
       
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    content: '\e80a';
  }
}
