.SiteLogo {
	display: block;
	max-width: 272px;
	width: 100%;
	padding-right: 50px;
	height:100%;
}

@include breakpoint('medium') {
	.SiteLogo {
		width: 292px;
		max-width: initial;
	}
}
@include breakpoint('large') {
	.SiteLogo {
		width: 300px;
	}
}
