.SiteLogo{
	max-width: 340px;
	width: calc(100% - 66px);
	height:100%;
}

@include breakpoint('medium') {
	.SiteLogo {
		width: 340px;
		max-width: initial;
	}
}
@include breakpoint('large') {
	.SiteLogo {
		width: 450px;
	}
}