.Figure {
	margin: $spacingBetweenContentBlocks 0;
	// display: table;
	figcaption{
		@extend .ServiceEm;
		margin: 0;
		// display: table-caption;
		caption-side: bottom;
		padding: $u;
		p{
			color: inherit;
			margin:0;
			font-size: inherit;
		}
	}
}
.typo3-neos-nodetypes-image:first-child .Figure {
	margin-top: 0;
}
