.ReadMore {
    max-height: 320px;
    overflow: hidden;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.ReadMore--isExpanded {
    max-height: 5000px;
}

.ReadMore--isExpanded .ReadMore-overlay, .ReadMore--isExpanded .ReadMore-button {
    display: none;
}

.ReadMore-overlay {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255) 80%, rgb(255, 255, 255) 100%);
    text-align: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.ReadMore-button {
    @extend .ParagraphAlt;
    color: $color-primaryAlt;
    padding: 3px 12px;
}
