.RteText {
	h1,h2,h3,h4,h5,h6{
		margin-top: 3*$u;
		margin-bottom: $u;
	}
	h1 {
		color: pink;
	}
	h2 {
		@extend .H2;
		@include breakpoint('medium') {
			margin-top: 4*$u;
		}
	}
	h3 {
		@extend .H3;
	}
	h4 {
		@extend .H4;
	}
	p {
		@extend .Paragraph;
		margin-bottom: $lineHeight-normal*1em;
	}
	a {
		@extend .Link;
	}
	ul {
		@extend .UnorderedList;
		margin-bottom: $lineHeight-normal*1em;
	}
	ol {
		@extend .OrderedList;
		margin-bottom: $lineHeight-normal*1em;
	}
	li {
		@extend .Paragraph;
	}
	table {
		@include table;
		font-family: $fontFamily-alt;
		p {margin-bottom: 0;}
	}
}

.RteTextLinkable a{
	@extend .Link;
}

// Map variants to paragrpah styles
.RteText--Paragraph--Small p, .RteText--Paragraph--Small li{
	@extend .Paragraph--Small;
}
.RteText--Paragraph p, .RteText--Paragraph li{
	@extend .Paragraph;
}
.RteText--Paragraph--Large p, .RteText--Paragraph--Large li{
	@extend .Paragraph--Large;
}
.RteText--ParagraphAlt--Small p, .RteText--ParagraphAlt--Small li{
	@extend .ParagraphAlt--Small;
}
.RteText--ParagraphAlt p, .RteText--ParagraphAlt li{
	@extend .ParagraphAlt;
}
.RteText--ParagraphAlt--Large p, .RteText--ParagraphAlt--Large li{
	@extend .ParagraphAlt--Large;
}
