.StudyProgramCard {
	background-color: $gray-bg--light;
	padding: $u;
	@include breakpoint('medium') {
		padding: 2*$u;
	}
}
.StudyProgramCard-Line {
	@extend .ParagraphAlt--Large;
	color: $gray--light;
	b, strong {
		color: $color-primaryAlt;
		text-transform: uppercase;
	}
	.ButtonInline {
		margin: 0 !important;
	}
}

.StudyProgramCard--Short {
	padding: 0;
	@include breakpoint('medium') {
		padding: 0 2*$u;
	}
}

