.StudyProgramCard {
	background-color: $gray-bg--light;
}
.StudyProgramCard-Line {
	@extend .ParagraphAlt--Large;
	color: $gray--light;
	margin: 0;
	padding: $u 2*$u;
	line-height: $lineHeight-tight;
	border-top: $border-thin;
	&:last-child {
		border-bottom: $border-thin;
	}
	b, strong {
		color: $color-primaryAlt;
		text-transform: uppercase;
	}
}

.StudyProgramCard--Short {
	margin: -$u -2*$u;
	margin-top: -$u - 1px;
}
