.VCard {
	@include breakpoint (medium) {
		@include grid-offset(1);
	}
}
.VCard-Position {
	@extend .ServiceEm;
	line-height: 1;
}
.VCard-Name {
	@extend .Paragraph;
	line-height: 1;
}
.VCard-Contact {
	@extend .ParagraphAlt;
	color: $gray--light;
	line-height: 1;
}