.H1Alt, .H3Alt, .H4Alt, .H5Alt, .H6Alt {
	color: pink;
}
.H2Alt{
	@extend .H2;
	font-weight: normal !important;
}
.H3Alt {
	@extend %mainHeadings;
	font-weight: normal !important;
	font-size: rem-calc(22);
}
