@mixin link-state {
	transition: $transition;
	&.current, &.current:hover {
		color: $gray--light !important;
		text-decoration: none;
		&,a {cursor: default;}
	}
	&:hover {
		color: $color-primary !important;
		text-decoration: underline;
	}
}

.LinkState{
	@include link-state();
}
.Link{
	color: $color-primary;
	@include link-state();
}

.PaleLink {
	@extend .ButtonInline;
	&:hover {
		text-decoration: underline;
		color: $gray--light !important;
	}
	display: inline-block !important;
	padding-right: 1.5*$u;
	font-family: $fontFamily-alt;
	font-size: rem-calc(12);
	color: $gray--light !important;
}
