@mixin link-state {
	transition: $transition;
	&.current, &.current:hover {
		color: $gray--light;
		text-decoration: none;
		&,a {cursor: default;}
	}
	&:hover {
		color: $color-primary;
		text-decoration: underline;
	}
}

.Link{
	color: $color-primary;
	@include link-state();
}
